
body{
   background-image: url(https://img.freepik.com/premium-photo/soft-lavender-background-with-pastel-finish-plain-background-wallpaper-image-art-design_1020697-715728.jpg);
   background-size: cover;
   justify-content: center;
   height: 100vh;
   align-items: center;
   display: flex;
   background-repeat: no-repeat;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 15px;
}
h2{
   text-align: center;
   color:purple;
}
form{
   justify-items: center;
    border: 5px solid rgba(157, 78, 231, 0.856);
    height: fit-content;
    width: 390px;
    border-radius: 30px;
   
}
@media screen and (min-width:600px) {
   body{
      background-color: white;
   }
   
}

button{
   background-color:rgba(230, 35, 230, 0.123);

}
button:hover{

   background-color: palevioletred;
}

.block{
   padding: 15px;
   color: rgba(198, 83, 221, 0.637);
   width: 300px;

}
